$rotation: var(--rotation-deg);
$counter-rotation: var(--counter-rotation-deg);
$width: var(--width);
$height: var(--height);

.rotator {
    position: relative;
    width: $height;
    height: $height;

    &.rounded {
        border-radius: 50%;

        > * {
            border-radius: 50%;
        }
    }

    &.rotatechildren {
        .childtarget {
            rotate: $rotation;
        }
    }

    &.rotateparent {
        rotate: $rotation;

        .childtarget {
            rotate: $counter-rotation;
        }
    }

    &.rotateboth {
        rotate: $rotation;
    }
}
