.themeswitcher {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: 0;

    > * {
        position: absolute;
        transition: 1s ease;
        rotate: 0;
        scale: 0;
    }

    .active {
        rotate: 360deg;
        scale: 1.2;
    }
}
