$colors: (
    light: (
        primary: [ #31302e #908f8e #fefdfb #141414],
        secondary: [ #003c00 #00cb00 #39ff14 #141414],
        accent: [ #bf00ff #de3cff #fd5eff #141414],
    ),
    dark: (
        primary: [ #1a181f #6c6a73 #cdcad4 #e1e0e8],
        secondary: [ #090 #00cb00 #39ff14 #e1e0e8],
        accent: [ #bf00ff #de3cff #fd5eff #e1e0e8],
    ),
);
$color-setters: (x, y);
$color-getters: (
    c: 'color',
    b: 'background',
);
