$colors: (
    light: (
        primary: [ #1b1a18,
        #31302e,
        #393836,
        #454440,
        #54514d,
        #6a6762,
        #85827c,
        #a8a4a0,
        ],
        secondary: [ #0c5b11,
        #086c0c,
        #028907,
        #00b505,
        #00cb00,
        #24fb20,
        #5bff53,
        #9aff92,
        #cbffc5],
        accent1: [ #74117e,
        #8a0e9a,
        #a60ebd,
        #c516e3,
        #de3cff,
        #eb6dff,
        #f1a3ff,
        #f6ccff,
        #fae6ff,
        ],
    ),
    dark: (
        primary: [ #1a181f #6c6a73 #cdcad4 #e1e0e8],
        secondary: [ #090 #00cb00 #39ff14 #e1e0e8],
        accent: [ #bf00ff #de3cff #fd5eff #e1e0e8],
    ),
);
$color-setters: (x, y);
$color-getters: (
    c: 'color',
    b: 'background',
);
