@use 'mellow-scss' as *;

@use 'variables' as *;

$colors: $colors;
$color-setters: $color-setters;
$color-getters: $color-getters;

@include main(
    $colors: $colors,
    $color-setters: $color-setters,
    $color-getters: $color-getters
);
